body {
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
  font-family: 'Montserrat', sans-serif;
  background-color: #000000;
  color: #f7f3f3eb;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 0);
  flex-wrap: wrap;
}
/* seccion de menu */
.main-nav {
  margin-top: 0;  
  padding-top: 0;  
}
/* Aqui es mi logo */
.main-nav__logo {
  display: flex;
  align-items: center;
  gap: 8.8rem;
}
/* contenedor del menu principal */
.main-nav__right {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-left: auto;
} 

.marco-imagen {
  width: 100px;
}

.main-nav--logo__imagen {
  width: 100%;
}

.main-nav__toggle {
  display: none;
  text-decoration:none;
}

.main-nav__menu a.inicio {
  color: red;       
  font-weight: 1500;
  font-size: 1.2em;
  text-decoration: none;
  margin-right: 30px;
}

.main-nav__menu a.inicio:hover {
  color: white;
}

.main-nav__menu a:hover {
  color: red;
}

.main-nav__toggle-label {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.main-nav__menu {
  display: flex;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0;
  align-items: center;
}

.main-nav__menu {
  color: #aa0808;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: color 0.5s;
}

.main-nav__menu a {
  text-decoration: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  transition: color 0.5s ease;
}

.main-nav__menu {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
  
.main-nav__menu a:hover {
    color: #ff1500;
}

.main-nav__menu li {
  position: relative;
}

/* CONTENEDOR DEL SUBMENÚ */
.main-nav__submenu {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%; 
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  list-style: none;
  padding: 0.6rem 0;
  min-width: 240px;
  z-index: 1000;
  border-radius: 0px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  transform: translateY(10px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  border: none;
  pointer-events: none;
}

/* HOVER PARA MOSTRARLO */
.submenu-parent {
  position: relative;
}

.main-nav__submenu {
  pointer-events: none;
} 

.submenu-parent:hover .main-nav__submenu,
.main-nav__submenu:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
   transition: opacity 0.3s ease 0s, transform 0.3s ease 0s;
}

.main-nav__submenu li:last-child {
  border-bottom: none;
}

.main-nav__submenu li {
  padding: 0;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.main-nav__submenu li a {
  display: block;
  padding: 0.75rem 1.2rem;
  color: #e0e0e0;
  font-size: 0.9rem;
  text-decoration: none;
  font-weight: 400;
  transition: background 0.3s ease, color 0.3s ease;
  border-radius: 6px;
}

.main-nav__submenu li a:hover {
  background-color: transparent; 
  color: #f11501; 
}

/* Flecha */
.arrow {
  margin-left: 5px;
  font-size: 0.7em;
}

.main-nav__redsocial {
  display: flex;
  gap: 6px;
  margin-left: 25px;
}


/* Tamaño fijo para los íconos de redes sociales */
.main-nav__social-icon {
  width: 35px;
  height: 35px;
  object-fit: contain; 
  display: block;
}

.main-nav__link {
  text-decoration: none;
  color: #fefefe;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .main-nav__toggle-label {
    display: flex;
  }
}

.main-nav__toggle-label {
    display: none;
}

/* HERO PRINCIPAL */
.hero-section {
  background: #000;
  min-height: 100vh;
  margin-top: 0;
}

.hero-media {
  position: relative;
  height: 60vh;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
}
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,.4);
}

.hero-text {
  position: absolute;
  left: 2rem;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.headline-group {
  position: relative; 
  cursor: pointer; 
}

.headline { 
  font-size: 2.2rem; 
  font-weight: 300; 
  line-height: 1.1; 
}

.normal { 
  transition: opacity .3s;
 }

.hovered {
  position: absolute;
  inset: 0; 
  display: flex; 
  align-items: center;
  opacity: 0; 
  transition: opacity .3s;
}

.headline-group:hover .normal { 
  opacity: 0; 
}

.headline-group:hover .hovered { 
  opacity: 1;
 }

.big { 
  font-size: 3rem;
  font-weight: bold;
  color: #ef4444; }
@keyframes pulse { 
  0%,100%{ transform: scale(1); } 50%{ 
    transform: scale(1.05);
  }
 }
.pulse { 
  animation: pulse 1.5s infinite;
 }

/* SECCIÓN INFERIOR */
.bottom { 
  padding: 2rem 1rem;
  background: #000;
}

.fondo-degradado-talleres {
  background: linear-gradient(to bottom, #80261d, #ba3427);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.container {
   max-width: 1200px;
   margin: 0 auto; 
}

/* Contenedor horizontal para texto e imágenes */
.grid {
  display: flex;
  gap: 2rem; 
  align-items: center; 
  flex-wrap: wrap;
}

@media
(min-width:1024px){ 
  .grid { 
    grid-template-columns: 1fr 1fr;
 } 
}

/* Ajuste del bloque de texto izquierdo */ 
.lead {
  width: 40%; 
  padding-left: 1rem; 
  padding-right: 1rem; 
  display: flex; 
  flex-direction: column;
  font-size: small;
}

/* Estilo del texto */
.lead p {
  margin: 0 0 1rem;
  line-height: 1.6;
  color: #fff;
  font-size: 1rem;
}

.cta-btn {
  background: #fff;
  color: #000;
  padding: 0.6rem 1.5rem;
  border-radius: 2rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  width: fit-content;
}

/* Flecha del botón debajo de hover */
.cta-btn .icon {
  width: 1rem;
  height: 1rem;
  stroke-width: 2;
}

.cta-btn:hover { 
  background: #e5e5e5;
}

.image-grid { 
  display: grid;
   grid-template-columns: repeat(3,1fr); 
   gap: 1rem; 
}

/* overlay del texto sobre la iamgen */
.image-tile { 
  position: relative;
  aspect-ratio: 1 / 1;   
  overflow: hidden; 
  border-radius: 8px;
}

.image-tile:hover img {
  transform: scale(1.05);
}

.image-tile img { 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  display: block;
  transition: transform 0.3s ease; 
}

.image-gradient-hover {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding: 1rem 1rem;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.3) 50%, transparent 100%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  padding-right: 2rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

/* Aparece con hover */
.image-tile:hover .image-gradient-hover {
  opacity: 1;
  pointer-events: auto;
}


/* aqui empieza mi seccion de nosotros */
.nosotros-section {
  background-color: #000000;
  padding: 9rem 6rem 3rem;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.nosotros-container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2rem;
}
  
.nosotros-image {
  flex: 1 1 280px;
  display: flex;
  justify-content: flex-start;
  margin-top: -2rem;
  margin-left: -3rem;
}

.nosotros-image img {
  width: 320px;
  height: 320px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: none;
  transition: transform 0.3s ease;
}

.nosotros-image:hover img {
  transform: scale(1.05); 
}

.nosotros-content {
  flex: 2 1 400px;
  padding: 0rem 1rem 0 1rem;
  margin-top: -9.5rem; 
}

.nosotros-content .profesion {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.5rem; 
  font-size: 1rem; 
  color: white;
}

.nosotros-content .descripcion {
  font-size: 0.85rem;
  color: #fff6f6;
  margin-bottom: 1.5rem;
  margin-top: 10rem;
  line-height: 1.4;
  max-width: 55%; 
}

.contact-link {
  font-weight: bold;
  text-decoration: none;
  color: #fd0404;
  padding-bottom: 0.2rem;
  display: inline-flex; 
  align-items: center;   
  gap: 1rem;             
  transition: color 0.3s ease;
  border: none;
}

/* flecha debajo de informacin */
.icon-long {
  width: 1rem;  
  height: 1rem;
  stroke: #f4f3f3; 
  margin-left: 0.5rem;
  transition: transform 0.3s ease;
}

.cta-btn:hover .icon-long {
  transform: translateX(5px); 
}

.contact-link:hover {
  color: #fbfbfb;
  border-color: #e43d2d;
}
/* letra de nosotros debajo de pag titulo*/
.nosotros-title {
  font-size: 8rem;
  position: relative;
  font-weight: 650;
  text-align: right;
  margin-top: 2rem;
  margin-right: 1rem;
  color: #888888;
  text-transform: uppercase;
  line-height: 1;
}

.line-arrow svg {
  width: 160px;
  height: auto;
  stroke: #f11400;
}

.contact-link:hover svg {
  transform: translateX(5px);
  transition: transform 0.3s ease;
}

.animated-arrow {
  width: 160px;
  height: auto;
  stroke: #f30909;
  transition: transform 0.4s ease, width 0.4s ease; 
}

/* Efecto hover en el contenedor del enlace */
.contact-link:hover .animated-arrow {
  transform: translateX(10px); 
  width: 160px; 
}

/* aqui empieza mi seccion de talleres */

.talleres-section {
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(to bottom, #6f1d1b, #a4161a);
  color: white;
  padding: 40px 20px;
}

.talleres-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 2rem;
}

.talleres-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

.talleres-izquierda .subtitulo {
  font-size: 0.9rem;
  letter-spacing: 1px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
/* titulo de talleres */
.talleres-izquierda .titulo {
  font-size: 8rem;
  font-weight: 650;
  margin: 0;
}

.talleres-derecha {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: right;
}

.taller-info h3 {
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.taller-info p {
  margin: 0.2rem 0 0;
  font-size: 0.95rem;
}

.taller-info a {
  color: white;
  text-decoration: underline;
  font-weight: 600;
  margin-left: 0.3rem;
}

.imagen-taller {
  width: 100%;
  margin: 2rem 2rem; 
  border-radius: 10px;
  overflow: hidden;
}

.imagen-taller img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

/* SECCIÓN CONTACTO footer */
.contacto-section {
  background-color: #000;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  padding: 4rem 2rem;
}
/* Titulo principal contacto */
.contacto-titulo {
  font-size: 8rem;
  font-weight: 650;
  color: #888888;
  margin-bottom: 2rem;
  text-align: left;
  margin-left: 2rem;
  margin-top: 1rem;
}

.contacto-container {
  max-width: 1200px;    
  margin-left: 2rem;       
  padding: 3rem;        
}

.contacto-subtitulo {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 3rem;
  text-align: left;
}

.formulario-contacto {
  display: flex;
  flex-wrap: column;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.formulario-contacto input {
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  padding: 0.8rem 1rem;
  width: 250px;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.formulario-contacto input:focus {
  border-color: #ff3c38;
}

.btn-enviar {
  background-color: #fff;
  color: #000;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
}

.btn-enviar:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.6);
  transform: scale(1.03);
}

/* INFORMACIÓN DE CONTACTO */
.info-contacto {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
  max-width: 1000px;
  margin: 0 auto;
  gap: 2rem;
}

.logo-contacto {
  margin-left: -1rem; 
}

.logo-contacto img {
  text-align: left;
  height: 90px;
}

.datos-contacto p {
  margin: 0.3rem 0;
  font-size: 0.9rem;
}

.firma-contacto {
  text-align: right;
  flex-grow: 1;
}

.firma-contacto p {
  font-size: 0.85rem;
  color: #888;
}
